.editor .bottom .main-media .media-box .media-content {
    h2 {
        color: #fff;
        margin-top: -150px;
        padding-left: 20px;
        font-size: 1.2rem;
    }
    p,span {
        color: #4a4a4a;
    }
}
.editor .bottom .medias ul li {
    width: 49%;
    margin: 10px 0;
    padding: 5px;
}