<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="../../assets/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <ul>
        <li><a href="../../index.html">خانه</a></li>
        <li class="guest"><a href="./register.html">ثبت نام</a></li>
        <li class="guest"><a href="./login.html">ورود</a></li>
        <li class="mr-auto auth"><a href="./views/user/dashboard.html">داشبورد</a></li>
        <li><a href="../user/cart.html">سبد خريد</a> <span id="cart">(3)</span></li>
        <li class="auth"><a href="#">خروج</a></li>
      </ul>
    </header>
    <main>
      <section>
        <div class="card">
          <form action="/login" method="POST" id="form-login">
            <fieldset>
              <legend>ورود به حساب كاربري</legend>
              <div class="form-wrapper">
                <label for="userName" class="form-label">نام کاربری</label>
                <input
                  type="text"
                  id="userName"
                  name="userName"
                  class="form-control"
                />
                <small class="error"></small>
              </div>
              <div class="form-wrapper">
                <label for="password" class="form-label">رمز عبور</label>
                <input
                  type="text"
                  id="password"
                  name="password"
                  class="form-control"
                />
                <small class="error"></small>
              </div>
              <!-- <div class="form-wrapper">
                <label for="rememberMe" class="form-check-label">
                  مرا به خاطر بسپار
                  <input
                    type="checkbox"
                    id="rememberMe"
                    name="rememberMe"
                    class="form-check"
                  />
                  <span class="checkMark"></span>
                </label>
                <small class="error"></small>
              </div> -->

              <div class="form-wrapper">
                <button class="btn btn-primary">ورود</button>
              </div>
            </fieldset>
          </form>
        </div>
      </section>
    </main>
    <footer></footer>
    <script type="module" src="../../assets/js/scripts.js"></script>
    <script type="module" src="../../assets/js/auth/login.js"></script>
  </body>
</html>
