@font-face {
  font-family: Vazir;
  src: url("Vazir-Regular.eot");
  src: url("Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Regular.woff2") format("woff2"),
    url("Vazir-Regular.woff") format("woff"),
    url("Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Bold.eot");
  src: url("Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Bold.woff2") format("woff2"),
    url("Vazir-Bold.woff") format("woff"),
    url("Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Black.eot");
  src: url("Vazir-Black.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Black.woff2") format("woff2"),
    url("Vazir-Black.woff") format("woff"),
    url("Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Medium.eot");
  src: url("Vazir-Medium.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Medium.woff2") format("woff2"),
    url("Vazir-Medium.woff") format("woff"),
    url("Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Light.eot");
  src: url("Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Light.woff2") format("woff2"),
    url("Vazir-Light.woff") format("woff"),
    url("Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Thin.eot");
  src: url("Vazir-Thin.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Thin.woff2") format("woff2"),
    url("Vazir-Thin.woff") format("woff"),
    url("Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-FD.eot");
  src: url("Vazir-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-FD.woff2") format("woff2"), url("Vazir-FD.woff") format("woff"),
    url("Vazir-FD.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-Bold-FD.eot");
  src: url("Vazir-Bold-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Bold-FD.woff2") format("woff2"),
    url("Vazir-Bold-FD.woff") format("woff"),
    url("Vazir-Bold-FD.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-Light-FD.eot");
  src: url("Vazir-Light-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Light-FD.woff2") format("woff2"),
    url("Vazir-Light-FD.woff") format("woff"),
    url("Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-Medium-FD.eot");
  src: url("Vazir-Medium-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Medium-FD.woff2") format("woff2"),
    url("Vazir-Medium-FD.woff") format("woff"),
    url("Vazir-Medium-FD.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-Thin-FD.eot");
  src: url("Vazir-Thin-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Thin-FD.woff2") format("woff2"),
    url("Vazir-Thin-FD.woff") format("woff"),
    url("Vazir-Thin-FD.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-Black-FD.eot");
  src: url("Vazir-Black-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Black-FD.woff2") format("woff2"),
    url("Vazir-Black-FD.woff") format("woff"),
    url("Vazir-Black-FD.ttf") format("truetype");
  font-weight: 900;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  direction: rtl;
}
html {
  font-family: Vazir !important;
}
header {
  height: 3.5rem;
  background-color: purple;
}
ul {
  display: flex;
  margin: 0;
  height: 100%;
}
li {
  list-style: none;
  margin: 0 10px;
  padding: 10px 0;
}
a {
  text-decoration: none !important;
  color: white !important;
  font-weight: bold;
}
.card {
  width: 40%;
  margin: 10px auto;
  border: none !important;
}
fieldset {
  border: 1px solid gray !important;
  padding: 10px !important;
}
legend {
  float: none !important;
  width: auto !important;
}
#form-register {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px 20px;
}
.form-control,
.form-select {
  border: 2px solid purple !important;
}
.form-control:hover,
.form-control:focus,
.form-select:hover,
.form-select:focus {
  box-shadow: rgba(187, 70, 158, 0.884) 0px 5px 15px !important;
  outline: none !important;
}
.form-select:hover {
  cursor: pointer;
}
.form-wrapper {
  margin: 20px 0;
}
.error {
  color: red;
  display: block;
}
.welcome {
  width: 400px;
  padding: 1rem;
  margin: 20px auto;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 5px;
}

button {
  background-color: purple !important;
  border: none !important;
  padding: 10px 12px !important;
  text-align: center !important;
  color: #fff !important;
}
.mr-auto {
  margin-right: auto;
}
.option {
  display: none;
}
#cart {
  color: #fff;
}