<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="../../../assets/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <ul>
        <li><a href="../../../index.html">خانه</a></li>
        <li class="guest"><a href="../../auth/register.html">ثبت نام</a></li>
        <li class="guest"><a href="../../auth/login.html">ورود</a></li>
        <li class="mr-auto auth"> <a href="./indexProduct.html">نمايش محصولات</a></li>
        <li class="mr-auto auth"><a href="../dashboard.html">داشبورد</a></li>
        <li class="auth">
          <form action="/logout" method="POST" id="form-logout">
            <button>خروج</button>
          </form>
        </li>
      </ul>
    </header>
    <main>
      <section>
        <div class="card">
          <form action="/product/create" method="POST" id="form-create-product">
            <fieldset>
              <legend>ايجاد محصول</legend>
              <div class="form-wrapper">
                <label for="title" class="form=label">عنوان</label>
                <input
                  type="text"
                  id="title"
                  name="title"
                  class="form-control"
                />
                <small class="error"></small>
              </div>
              <div class="form-wrapper">
                <label for="content" class="form=label">محتوا</label>
                <textarea
                  name="content"
                  id="content"
                  cols="30"
                  rows="10"
                  class="form-control"
                ></textarea>
                <small class="error"></small>
              </div>

              <div class="form-wrapper">
                <button class="btn btn-primary">ثبت</button>
              </div>
            </fieldset>
          </form>
        </div>
      </section>
    </main>
    <footer></footer>


    <!-- scripts -->
    <script type="module" src="../../../assets/js/scripts.js"></script>
    <script type="module" src="../../../assets/js/products/create.js"></script>
    <script type="module" src="../../../assets/js/auth/logout.js"></script>
  </body>
</html>
